#menuPrincipal {
	display:block;
	height:75px;
 padding:0;
 margin:0;
 list-style-type:none;
 width:100%;
 }
#menuPrincipal li a {
 display:block;
 float:left;   
 width:100px;
 background-color:white;
 color:black;
 font-size: 0.5cm;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border : 1px solid blue;
 }
.menuPrincipalCentre {
	 width:100px;
	 margin-right: auto;
	 margin-left: auto;
 }
 .menuPrincipalDroite {
	float: right;
	 margin-left: 2px;
 }
.menuPrincipalGauche {
	float: left;
	 margin-right: 2px;
 }
ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 
.contact{float: left; top: 0;margin-top: -0.8cm;}

.evnmt{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;

}

#acceuilBody{background-image:url("background.jpg"); background-size: cover; background-repeat: no-repeat;background-color:white; }
h2{text-align: center;}

h2 {
  display: flex;
}
h2::before,
h2::after {
  content: "";
  flex:1;
  align-self: center;
  border-bottom: 1px solid CurrentColor;
}
h2::before {margin-right: .3em}
h2::after {margin-left: .3em}


body{
	background-color: rgb(244,239,239);
}
.boiteBody {
	text-align:center;
  /* Uniquement centrer le formulaire sur la page */
  margin: 2px auto;
  width: 500px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 7px solid #CCC;
  border-radius: 1em;
  background-color: #FAFAFA;
}
table {
	text-align:center;
  /* Uniquement centrer le formulaire sur la page */
  margin: 2px auto;
  width: 500px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 7px solid #CCC;
  border-radius: 1em;
  background-color: #FAFAFA;
}
tr:nth-child(even) {background-color: #FFFFFF;}

form {
  text-align:center;
  /* Uniquement centrer le formulaire sur la page */
  margin: 2px auto;
  width: 500px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 7px solid #CCC;
  border-radius: 1em;
  background-color: #FAFAFA;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
  height: 1cm;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;
    /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.bouton {
  display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	width: 3cm;cursor:pointer;
}


.bouton1 {
  display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	width: 3cm;
	margin-top: 1cm;cursor:pointer;
}

.msg{
	vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 7em;

}
#statusConnecte {
	display: block;
	width:200px;
	text-align: center;
	 font-size: 0.5cm;
	background-color: #c0ff36;
}